*.pyfg
/data/raslam/plaza1/inits/*.txt
/data/raslam/plaza2/inits/*.txt
/data/raslam/single_drone/inits/*.txt
/data/raslam/tiers/inits/*.txt
/data/raslam/mrclam2/inits/*.txt
/data/raslam/mrclam4/inits/*.txt
/data/raslam/mrclam6/inits/*.txt
/data/raslam/mrclam7/inits/*.txt

/data/sfm/bal-93/inits/*.txt
data/sfm/bal-392/inits/*.txt
/data/sfm/IMC-gate/inits/*.txt
/data/sfm/IMC-rome/inits/*.txt
/data/sfm/IMC-temple/inits/*.txt
/data/sfm/MipNerf-garden/inits/*.txt
/data/sfm/MipNerf-kitchen/inits/*.txt
/data/sfm/MipNerf-room/inits/*.txt
/data/sfm/Replica-REPoffice0_100/inits/*.txt
/data/sfm/Replica-REPoffice1_100/inits/*.txt
/data/sfm/Replica-REProom1_100/inits/*.txt
/data/sfm/Replica-REProom0_100/inits/*.txt
/data/sfm/TUM-computer-T/inits/*.txt
/data/sfm/TUM-computer-R/inits/*.txt
/data/sfm/TUM-desk/inits/*.txt
/data/sfm/TUM-room/inits/*.txt

/data/snl/intel_snl/inits/*.txt
/data/snl/M3500_snl/inits/*.txt
/data/snl/MIT_snl/inits/*.txt
/data/snl/parking-garage_snl/inits/*.txt
/data/snl/sphere2500_snl/inits/*.txtcmake-build-default/*
/data/snl/sphere2500_snl/inits/*.txt

/cmake-build-default/*
build
.vscode
